body {
	background-color: #5200cc;
}

@media (max-width: 1080px) {
	body {
		background-color: #262673;
	}
}

@media (max-width: 550px) {
	body {
		background-color: #002266;
	}
}

@media (max-width: 400px) {
	body {
		background-color: # #004466;
	}
}
